{% extends 'core/base.html' %}
{% block content %}
<div class="row pt-5">
    <div class="col-md-6 offset-md-3 text-center">
        <div class="card shadow-lg border-0 rounded-4 py-5">
            <h3 class="text-success fw-bold mb-3">Password Recovered!</h3>
            <p class="px-4">Your new password has been set successfully. Your account is fully restored.</p>
            <a href="{% url 'login' %}" class="btn btn-success mt-4 w-50 mx-auto fw-bold py-2 shadow rounded-pill">Return to Login Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
